{% extends "base.html" %}

{% block content %}
    <!-- Start content -->
    <div class="content">
                    <div class="container">


                        <div class="row">
							<div class="col-xs-12">
								<div class="page-title-box">
                                    <h4 class="page-title">数据平台</h4>
                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
                        <!-- end row -->


                        <div class="row">

                            <div class="col-lg-3 col-md-6">
                                <a href="/sensor_detail/">
                                    <div class="card-box widget-box-two widget-two-primary">
                                    <i class="mdi mdi-thermometer widget-two-icon"></i>
                                    <div class="wigdet-two-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">温度传感器</p>
                                        <h2><span data-plugin="counterup">8</span><span style="font-size: 15px">/ 10 </span> <small><i class="mdi mdi-information-outline text-success"></i></small></h2>
                                        <p class="text-muted m-0"><b>Last UpdateTime:</b> Dec. 14, 2020, 9:39 a.m.</p>
                                    </div>
                                </div>
                                </a>
                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <a href="#">
                                    <div class="card-box widget-box-two widget-two-warning">
                                    <i class="mdi mdi-gas-cylinder widget-two-icon"></i>
                                    <div class="wigdet-two-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">压力传感器</p>
                                        <h2><span data-plugin="counterup">10 </span><span style="font-size: 15px">/ 10 </span> <small><i class="mdi mdi-information-outline text-success"></i></small></h2>
                                        <p class="text-muted m-0"><b>Last UpdateTime:</b> Dec. 14, 2020, 9:39 a.m.</p>
                                    </div>
                                </div>
                                </a>
                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <a href="#">
                                    <div class="card-box widget-box-two widget-two-danger">
                                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                                    <div class="wigdet-two-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">流量传感器</p>
                                        <h2><span data-plugin="counterup">10</span><span style="font-size: 15px">/ 10 </span> <small><i class="mdi mdi-information-outline text-success"></i></small></h2>
                                        <p class="text-muted m-0"><b>Last UpdateTime:</b> Dec. 14, 2020, 9:39 a.m.</p>
                                    </div>
                                </div>
                                </a>

                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <a href="#">
                                    <div class="card-box widget-box-two widget-two-success">
                                    <i class="mdi mdi-gauge widget-two-icon"></i>
                                    <div class="wigdet-two-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User Today">浓度传感器</p>
                                            <h2><span data-plugin="counterup">5 </span><span style="font-size: 15px">/ 10 </span> <small><i class="mdi mdi-information-outline text-success"></i></small></h2>
                                        <p class="text-muted m-0"><b>Last UpdateTime:</b> Dec. 14, 2020, 9:39 a.m.</p>
                                    </div>
                                </div>
                                </a>

                            </div><!-- end col -->

                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="m-t-0 header-title">实时温度</h4>
                                <div class="card-box" id="line" style="width: auto; height:400px;">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <h4 class="m-t-0 header-title">实时压力</h4>
                                <div class="card-box" id="gauge" style="width: auto; height:400px;">
                                </div>
                            </div>

                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div>
    <!-- content -->
{% endblock content %}

{% block javascript %}
<script>
        var chart = echarts.init(document.getElementById('line'), 'white', {renderer: 'canvas'});
        var chart_gauge = echarts.init(document.getElementById('gauge'), 'white', {renderer: 'canvas'});
        var old_data = [];
        var old_data_gauge = [];

        $(
            function () {
                fetchData();
                setInterval(fetchData, 5000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/line",
                dataType: "json",
                success: function (result) {
                    var options = result.data;
                    chart.setOption(options);
                    old_data = chart.getOption().series[0].data;
                }
            });
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/gauge",
                dataType: "json",
                success: function (result) {
                    var options = result.data;
                    chart_gauge.setOption(options);
                    old_data_gauge = chart_gauge.getOption().series[0].data;
                }
            });

        }

        function getDynamicData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/lineUpdate",
                dataType: 'json',
                success: function (result) {
                    var options = result.data;
                    old_data.push([options.name, options.value]);
                    chart.setOption({
                        series: [{
                            data: old_data
                        }]
                    });
                }
            });
        }

    </script>
{% endblock javascript %}