{% extends "base.html" %}

{% block content %}
<!-- Start content -->
    <div class="content">
                    <div class="container">


                        <div class="row">
							<div class="col-xs-12">
								<div class="page-title-box">
                                    <h4 class="page-title" >传感器列表</h4>

                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-md-12">
                                <a href="/sensor_add/">
                                    <button type="button" class="btn btn-inverse waves-effect w-md waves-light m-b-5" style="float: right; margin-right: 20px"><i class="glyphicon glyphicon-plus"></i>&nbsp;新增传感器</button>
                                </a>
                                    <div class="demo-box">
                                    <h4 class="m-t-0 header-title"><b>站内传感器列表</b></h4>
                                    <p class="text-muted font-13 m-b-20">sensor list</p>


                                    <div class="table-responsive">
                                        <table class="table m-0 table-colored table-inverse">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Sort</th>
                                                <th>location</th>
                                                <th>CreateTime</th>
                                                <th>LastUpdateTime</th>
                                                <th>States</th>
                                                <th>Details</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for sensor in list_sensor %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ sensor.sensor_id }}</td>
                                                <td>{{ sensor.name }}</td>
                                                <td>{{ sensor.sort }}</td>
                                                <td>{{ sensor.location }}</td>
                                                <td>{{ sensor.create_time }}</td>
                                                <td>{{ sensor.last_update_time }}</td>
                                                <td>{{ sensor.status }}</td>
                                                <td>
                                                    <a href="/sensor_detail/{{ sensor.id }}">
                                                        <button class="btn btn-icon waves-effect waves-light btn-inverse m-b-5"> <i class="fa fa-line-chart"></i> </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->
{% endblock content %}

