{% extends "base.html" %}

{% block content %}
<!-- Start content -->
<div class="content">
                    <div class="container">


                        <div class="row">
							<div class="col-xs-12">
								<div class="page-title-box">
                                    <h4 class="page-title">传感器信息</h4>

                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4">
                                            <div class="text-center card-box">
                                                <div class="member-card">
                                                    <div class="thumb-xl member-thumb m-b-10 center-block">
                                                        <img src="../static/assets/images/users/avatar-1.jpg" class="img-circle img-thumbnail" alt="profile-image">
                                                        <i class="mdi mdi-thermometer member-star text-success" title="verified user"></i>
                                                    </div>

                                                    <div class="">
                                                        <h4 class="m-t-0 header-title">温度传感器01</h4>
                                                        <p class="text-muted">TS01</p>
                                                    </div>

                                                    <hr/>
                                                    <h5><strong>详细信息</strong></h5>
                                                    <div class="text-left">
                                                        <p class="text-muted font-13"><strong>编号:&ensp;&ensp;&ensp;&ensp;</strong> <span class="m-l-15">TS01</span></p>

                                                        <p class="text-muted font-13"><strong>名称:&ensp;&ensp;&ensp;&ensp;</strong> <span class="m-l-15">温度传感器01</span></p>

                                                        <p class="text-muted font-13"><strong>型号:&ensp;&ensp;&ensp;&ensp;</strong> <span class="m-l-15">XHTS-001</span></p>

                                                        <p class="text-muted font-13"><strong>所在位置:</strong> <span class="m-l-15">压缩机进气管道</span></p>

                                                        <p class="text-muted font-13"><strong>创建时间:</strong> <span class="m-l-15">{{ names.last_login_time }}</span></p>

                                                        <p class="text-muted font-13"><strong>变更时间:</strong> <span class="m-l-15">{{ names.role }}</span></p>

                                                        <p class="text-muted font-13"><strong>备注:&ensp;&ensp;&ensp;&ensp;</strong> <span class="m-l-15"></span></p>

                                                        <p class="text-muted font-13"><strong>当前状态:</strong> <span class="m-l-15">在线</span></p>
                                                    </div>

                                                </div>

                                            </div> <!-- end card-box -->

                                        </div> <!-- end col -->

                                        <div class="col-md-8 col-lg-9">
                                            <h4><strong>当前状态</strong>&nbsp;<i class="mdi mdi-access-point" ></i></h4>


                                            <hr/>
                                            <h4><strong>实时数据</strong>&nbsp;<i class="mdi mdi-thermometer" ></i></h4>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card-box" id="line" style="width: auto; height:400px;">
                                                    </div>
                                                </div>
                                            </div>

                                            <hr/>
                                            <h4><strong>历史数据</strong>&nbsp;<i class="mdi mdi-thermometer" ></i></h4>
                                                <div class="col-lg-12">

                                                </div>
                                            <hr/>
                                            <h4><strong>报警记录</strong>&nbsp;<i class="mdi mdi-alert-outline" ></i></h4>


                                        </div>
                                        <!-- end col -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End row -->



                    </div> <!-- container -->

                </div> <!-- content -->
{% endblock content %}

{% block javascript %}
<script>
        var chart = echarts.init(document.getElementById('line'), 'white', {renderer: 'canvas'});
        var old_data = [];

        $(
            function () {
                fetchData();
                setInterval(fetchData, 5000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/line",
                dataType: "json",
                success: function (result) {
                    var options = result.data;
                    chart.setOption(options);
                    old_data = chart.getOption().series[0].data;
                }
            });

        }

        function getDynamicData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/lineUpdate",
                dataType: 'json',
                success: function (result) {
                    var options = result.data;
                    old_data.push([options.name, options.value]);
                    chart.setOption({
                        series: [{
                            data: old_data
                        }]
                    });
                }
            });
        }

    </script>
{% endblock javascript %}